p {
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  color: black;
  margin: 0;
  padding: 0;
}

h1 span {
  color: red;
}

h5 {
  margin: 0;
  padding: 0;
}

.botonNavbar {
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 10px 9px;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.botonNavbar::before {
  content: "";
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 0.3rem;
  width: 0;
  transition: 0.3s ease-in-out;
}

.botonNavbar:hover::before {
  content: "";
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 0.3rem;
  width: 100%;
}
